.footerDesign{
    box-shadow: 1px 1px 5px lightgray;
    background-color: rgb(255, 245, 245);
    text-align: center;
    margin-bottom: -18px;
    padding: 8px 0;
}

.footerDesign p{
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
    color: gray;
}

.footerDesign p>span{
    font-weight: 600;
}